.loginbody{
    background:#f4f4f4;
    width:100%;
    height:100%;
}

.loginbox{
    width:100%;
    margin-top:72px;
    background:#fff;
    padding:0 3%;
    border-top:1px solid #f4f4f4;
    p{
        float:left;
        width:60%;
    }
}
.input_wrapper{
    width:100%;
    border-bottom:1px solid #f4f4f4;
    padding:20px 2%;
    height:75px;
    line-height:35px;
    span{
        float:right;
        color:#ffa413;
        padding:0 5%;
        border-left:1px solid #f4f4f4;
    }
    input {
        width:100%;
        height:35px;
        outline:none;
        border:none;
        padding:0 0 0 30px;
    }
    .mobile input{
        background:no-repeat left center  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAA00lEQVRIS+2VPRaCMAzHE8Bz2IEPx/qeMuMNPIpH8SjeQGZwwA0KA5xDID4HB7SVwvPp0q5N80vS5B+EHxxUMVaMs9ZZLHVjcNpbk9dZLbNXQgI/fDzQhhBRJsp0PRVCulk87QqRSIP+lAl1fb+rqks8BnPdTWRb1tlATLkGvWK6a1AOMycQ+KGRlTc9/f+cANGhI8jGpN5G4IB4nCX1Y85f778CIYCrEAlXreY5EPmOJ4oBMZJk2RQiYZN2vOdtOSLudUtGRKeyTKX/p+wuXec6dnezePAaQQOK4gAAAABJRU5ErkJggg==)
    }
    .valid input{
        background:no-repeat left center url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAABmUlEQVRIS+2VTU7CUBSFzwGMQ3UHNbHFYQfCVHYgrkBdgbICcQe4A3YgrgCcFhI7tK8M6g6YWpN3zavWyE9b+XPkSzpqc77Xe8+5l/iDwz9g4FeQY8u19M7OLckGAMtcTICe1vp+PB4Nii5aCLHtmkugT3J/kZiIdFU4vMoD5UK+/uDZAAR4LMXxzUvkR5bl7u9WKpdCtknuQetWMB51skC5EMeudUleGIBSXnNW5OjopFEulfoiMonf3w+jyJ8sAhVBJuamb3F8kCVQtWsDkKcCnCvl9ZaGVJ26AHgNlJc0e9FxnHqbwK0Ad0p57dUgIk9BODSu+ofkhzHpyTbK5Tj1JkWukwaQDWNPAn5m2EhjCvNEEIk04IfhsPXz+zkLp5YsGhV57wPlTekuBTGh1Fp3yoD7nfYFtHUgU3mp2rUOyM+yzpx1IFGgvMNULw3hpiHQIldhOOz+HJwbh6R2TgdjVvPXKRdSSGJz4GErEJMZkB2INEm6K0Mcp94jcLbVnCTrlpxbUEtA/dm9UrjjlxDPnjybECnS+AADG+0aakQzLAAAAABJRU5ErkJggg==)
    }
}

.loginBtn{
    width:90%;
    margin:auto;
    background:#ffa413;
    text-align:center;
    color:#fff;
    height:45px;
    line-height:44px;
    font-size:18px;
    font-family: STHeitiSC-Light;
    margin-top:50px;
}




